USE [master]
GO
/****** Object:  Database [ClothingStoreDB]    Script Date: 16.05.2026 15:46:29 ******/
CREATE DATABASE [ClothingStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClothingStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ClothingStoreDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClothingStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ClothingStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClothingStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClothingStoreDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_OrtalamaPuan]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_OrtalamaPuan](@UrunID INT)
RETURNS DECIMAL(3,1)
AS
BEGIN
    DECLARE @Ortalama DECIMAL(3,1)
    
    SELECT @Ortalama = ISNULL(AVG(CAST(Puan AS DECIMAL(3,1))), 0) 
    FROM Yorumlar 
    WHERE UrunId = @UrunID AND OnayDurumu = 1 -- Sadece onaylı yorumlar
    
    RETURN @Ortalama
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SiparisDurum]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_SiparisDurum](@SiparisID INT)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @DurumText NVARCHAR(50)
    SELECT @DurumText = Durum FROM Siparisler WHERE SiparisID = @SiparisID
    RETURN ISNULL(@DurumText, 'Sipariş Bulunamadı')
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_StokDurum]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_StokDurum](@StokAdedi INT)
RETURNS NVARCHAR(20)
AS
BEGIN
    DECLARE @Durum NVARCHAR(20)

    IF @StokAdedi <= 10 AND @StokAdedi > 0
        SET @Durum = 'Tükenmek Üzere'
    ELSE IF @StokAdedi <= 0
        SET @Durum = 'Tükendi'
    ELSE 
        SET @Durum = 'Stokta Var'
        
    RETURN @Durum
END;
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](200) NOT NULL,
	[KategoriID] [nvarchar](50) NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[StokAdedi] [int] NULL,
	[ResimYolu] [nvarchar](250) NULL,
	[EklenmeTarihi] [datetime] NULL,
	[Renk] [nvarchar](50) NULL,
	[KumasTipi] [nvarchar](100) NULL,
	[Mevsim] [nvarchar](50) NULL,
	[MarkaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_AktifUrunler]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_AktifUrunler] AS
SELECT * FROM Urunler
WHERE StokAdedi > 0;
GO
/****** Object:  Table [dbo].[Bedenler]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bedenler](
	[BedenId] [int] IDENTITY(1,1) NOT NULL,
	[BedenTanimi] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BedenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dolap]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dolap](
	[DolapId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[UrunAdi] [nvarchar](100) NOT NULL,
	[KategoriId] [nvarchar](50) NULL,
	[ResimYolu] [nvarchar](max) NOT NULL,
	[EklenmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DolapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoriler]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoriler](
	[FavoriID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[EklenmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoFirmalari]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoFirmalari](
	[KargoID] [int] IDENTITY(1,1) NOT NULL,
	[FirmaAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KargoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriId] [nvarchar](50) NOT NULL,
	[KategoriAdi] [nvarchar](250) NOT NULL,
	[UstKategoriId] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KombinDetaylari]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KombinDetaylari](
	[KombinDetayId] [int] IDENTITY(1,1) NOT NULL,
	[KombinId] [int] NOT NULL,
	[UrunId] [int] NULL,
	[DolapId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KombinDetayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kombinler]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kombinler](
	[KombinId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[KombinAdi] [nvarchar](100) NOT NULL,
	[OlusturulmaTarihi] [datetime] NULL,
	[ToplamTutar] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[KombinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[Adres] [nvarchar](max) NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[KayitTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Markalar]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markalar](
	[MarkaID] [int] IDENTITY(1,1) NOT NULL,
	[MarkaAdi] [nvarchar](100) NOT NULL,
	[MarkaResimYolu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sepet]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sepet](
	[SepetID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[Adet] [int] NULL,
	[EklenmeTarihi] [datetime] NULL,
	[BedenId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SepetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisDetaylari]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetaylari](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[BirimFiyat] [decimal](10, 2) NOT NULL,
	[BedenId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[Tarih] [datetime] NULL,
	[ToplamTutar] [decimal](10, 2) NOT NULL,
	[Durum] [nvarchar](50) NULL,
	[KargoID] [int] NULL,
	[OdemeTipi] [nvarchar](50) NULL,
	[TeslimatAdresi] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunBedenStok]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunBedenStok](
	[UrunBedenId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NULL,
	[BedenId] [int] NULL,
	[StokAdedi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunBedenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[YorumMetni] [nvarchar](max) NULL,
	[Puan] [int] NULL,
	[Tarih] [datetime] NULL,
	[OnayDurumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bedenler] ON 

INSERT [dbo].[Bedenler] ([BedenId], [BedenTanimi]) VALUES (1, N'XS')
INSERT [dbo].[Bedenler] ([BedenId], [BedenTanimi]) VALUES (2, N'S')
INSERT [dbo].[Bedenler] ([BedenId], [BedenTanimi]) VALUES (3, N'M')
SET IDENTITY_INSERT [dbo].[Bedenler] OFF
GO
SET IDENTITY_INSERT [dbo].[Dolap] ON 

INSERT [dbo].[Dolap] ([DolapId], [KullaniciId], [UrunAdi], [KategoriId], [ResimYolu], [EklenmeTarihi]) VALUES (1, 2, N'Siyah İspanyol Paça Pantolon', N'2', N'1777449490584.jpg', CAST(N'2026-05-12T16:33:07.707' AS DateTime))
INSERT [dbo].[Dolap] ([DolapId], [KullaniciId], [UrunAdi], [KategoriId], [ResimYolu], [EklenmeTarihi]) VALUES (2, 3, N'Siyah Pencere Detaylı Mini Elbise', N'1', N'1777449490613.jpg', CAST(N'2026-05-12T16:33:07.710' AS DateTime))
INSERT [dbo].[Dolap] ([DolapId], [KullaniciId], [UrunAdi], [KategoriId], [ResimYolu], [EklenmeTarihi]) VALUES (3, 4, N'Kırmızı Gül Desenli Siyah Uzun Elbise', N'1', N'1777449490131.jpeg', CAST(N'2026-05-12T16:33:07.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[Dolap] OFF
GO
SET IDENTITY_INSERT [dbo].[Favoriler] ON 

INSERT [dbo].[Favoriler] ([FavoriID], [KullaniciId], [UrunId], [EklenmeTarihi]) VALUES (1, 2, 10, CAST(N'2026-05-12T18:13:39.873' AS DateTime))
INSERT [dbo].[Favoriler] ([FavoriID], [KullaniciId], [UrunId], [EklenmeTarihi]) VALUES (2, 2, 22, CAST(N'2026-05-12T18:13:39.873' AS DateTime))
INSERT [dbo].[Favoriler] ([FavoriID], [KullaniciId], [UrunId], [EklenmeTarihi]) VALUES (3, 2, 5, CAST(N'2026-05-12T18:13:39.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[Favoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[KargoFirmalari] ON 

INSERT [dbo].[KargoFirmalari] ([KargoID], [FirmaAdi]) VALUES (1, N'Aras Kargo')
INSERT [dbo].[KargoFirmalari] ([KargoID], [FirmaAdi]) VALUES (2, N'Yurtiçi Kargo')
INSERT [dbo].[KargoFirmalari] ([KargoID], [FirmaAdi]) VALUES (3, N'MNG Kargo')
SET IDENTITY_INSERT [dbo].[KargoFirmalari] OFF
GO
INSERT [dbo].[Kategoriler] ([KategoriId], [KategoriAdi], [UstKategoriId]) VALUES (N'1', N'Üst Giyim', N'0')
INSERT [dbo].[Kategoriler] ([KategoriId], [KategoriAdi], [UstKategoriId]) VALUES (N'10', N'Kazak', N'1')
INSERT [dbo].[Kategoriler] ([KategoriId], [KategoriAdi], [UstKategoriId]) VALUES (N'11', N'Pantolon', N'2')
GO
SET IDENTITY_INSERT [dbo].[KombinDetaylari] ON 

INSERT [dbo].[KombinDetaylari] ([KombinDetayId], [KombinId], [UrunId], [DolapId]) VALUES (17, 6, 2, NULL)
INSERT [dbo].[KombinDetaylari] ([KombinDetayId], [KombinId], [UrunId], [DolapId]) VALUES (18, 6, 59, NULL)
INSERT [dbo].[KombinDetaylari] ([KombinDetayId], [KombinId], [UrunId], [DolapId]) VALUES (19, 6, NULL, 13)
SET IDENTITY_INSERT [dbo].[KombinDetaylari] OFF
GO
SET IDENTITY_INSERT [dbo].[Kombinler] ON 

INSERT [dbo].[Kombinler] ([KombinId], [KullaniciId], [KombinAdi], [OlusturulmaTarihi], [ToplamTutar]) VALUES (6, 2, N'Bahar', CAST(N'2026-05-12T19:33:52.097' AS DateTime), CAST(3500.00 AS Decimal(18, 2)))
INSERT [dbo].[Kombinler] ([KombinId], [KullaniciId], [KombinAdi], [OlusturulmaTarihi], [ToplamTutar]) VALUES (7, 3, N'Mevsimlik', CAST(N'2026-05-13T01:00:23.557' AS DateTime), CAST(4880.00 AS Decimal(18, 2)))
INSERT [dbo].[Kombinler] ([KombinId], [KullaniciId], [KombinAdi], [OlusturulmaTarihi], [ToplamTutar]) VALUES (8, 4, N'Sonbahar', CAST(N'2026-05-13T01:06:21.127' AS DateTime), CAST(6700.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Kombinler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [Sifre], [Telefon], [Adres], [Rol], [KayitTarihi]) VALUES (1, N'Admin', N'Sistem', N'admin@clothingstore.com', N'1234', N'0000000000', N'Merkez', N'Admin', CAST(N'2026-04-26T22:21:30.400' AS DateTime))
INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [Sifre], [Telefon], [Adres], [Rol], [KayitTarihi]) VALUES (2, N'İrem', N'Altun', N'iremaltun@mail.com', N'1234', N'5067345843', N'Manisa', N'Uye', CAST(N'2026-04-26T22:21:30.400' AS DateTime))
INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [Sifre], [Telefon], [Adres], [Rol], [KayitTarihi]) VALUES (3, N'Sara', N'Akbulut', N'saraakbulut@mail.com', N'12345', N'5321110018', N'İstanbul', N'Uye', CAST(N'2026-04-26T22:21:30.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Markalar] ON 

INSERT [dbo].[Markalar] ([MarkaID], [MarkaAdi], [MarkaResimYolu]) VALUES (1, N'Zara', N'zara.jpg')
INSERT [dbo].[Markalar] ([MarkaID], [MarkaAdi], [MarkaResimYolu]) VALUES (2, N'Mango', N'mango.jpg')
INSERT [dbo].[Markalar] ([MarkaID], [MarkaAdi], [MarkaResimYolu]) VALUES (3, N'Bershka', N'berskha.jpg')
SET IDENTITY_INSERT [dbo].[Markalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Sepet] ON 

INSERT [dbo].[Sepet] ([SepetID], [KullaniciID], [UrunId], [Adet], [EklenmeTarihi], [BedenId]) VALUES (2, 2, 59, 1, CAST(N'2026-05-12T18:10:20.850' AS DateTime), 13)
INSERT [dbo].[Sepet] ([SepetID], [KullaniciID], [UrunId], [Adet], [EklenmeTarihi], [BedenId]) VALUES (5, 3, 40, 1, CAST(N'2026-05-12T18:10:20.850' AS DateTime), 13)
INSERT [dbo].[Sepet] ([SepetID], [KullaniciID], [UrunId], [Adet], [EklenmeTarihi], [BedenId]) VALUES (6, 3, 49, 1, CAST(N'2026-05-12T18:10:20.853' AS DateTime), 10)
SET IDENTITY_INSERT [dbo].[Sepet] OFF
GO
SET IDENTITY_INSERT [dbo].[SiparisDetaylari] ON 

INSERT [dbo].[SiparisDetaylari] ([DetayID], [SiparisID], [UrunId], [Adet], [BirimFiyat], [BedenId]) VALUES (1, 1, 2, 1, CAST(1950.00 AS Decimal(10, 2)), 9)
INSERT [dbo].[SiparisDetaylari] ([DetayID], [SiparisID], [UrunId], [Adet], [BirimFiyat], [BedenId]) VALUES (2, 1, 12, 1, CAST(1350.00 AS Decimal(10, 2)), 13)
INSERT [dbo].[SiparisDetaylari] ([DetayID], [SiparisID], [UrunId], [Adet], [BirimFiyat], [BedenId]) VALUES (3, 1, 11, 1, CAST(2750.00 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[SiparisDetaylari] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [Tarih], [ToplamTutar], [Durum], [KargoID], [OdemeTipi], [TeslimatAdresi]) VALUES (1, 2, CAST(N'2026-05-01T00:00:00.000' AS DateTime), CAST(2450.00 AS Decimal(10, 2)), N'Sipariş Tamamlandı', 1, N'Kredi Kartı', N'Manisa')
INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [Tarih], [ToplamTutar], [Durum], [KargoID], [OdemeTipi], [TeslimatAdresi]) VALUES (2, 2, CAST(N'2026-05-10T00:00:00.000' AS DateTime), CAST(1900.00 AS Decimal(10, 2)), N'Kargoya Verildi', 2, N'Havale/EFT', N'Manisa')
INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [Tarih], [ToplamTutar], [Durum], [KargoID], [OdemeTipi], [TeslimatAdresi]) VALUES (3, 3, CAST(N'2026-05-11T00:00:00.000' AS DateTime), CAST(2100.00 AS Decimal(10, 2)), N'Sipariş Alındı', 3, N'Kapıda Ödeme', N'İstanbul')
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[UrunBedenStok] ON 

INSERT [dbo].[UrunBedenStok] ([UrunBedenId], [UrunId], [BedenId], [StokAdedi]) VALUES (1, 12, 13, 20)
INSERT [dbo].[UrunBedenStok] ([UrunBedenId], [UrunId], [BedenId], [StokAdedi]) VALUES (2, 13, 13, 20)
INSERT [dbo].[UrunBedenStok] ([UrunBedenId], [UrunId], [BedenId], [StokAdedi]) VALUES (3, 14, 13, 20)
GO
SET IDENTITY_INSERT [dbo].[UrunBedenStok] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [KategoriID], [Fiyat], [Aciklama], [StokAdedi], [ResimYolu], [EklenmeTarihi], [Renk], [KumasTipi], [Mevsim], [MarkaId]) VALUES (1, N'Minimalist Beyaz Günlük Sneaker', N'4,15', CAST(1850.00 AS Decimal(10, 2)), N'Yüksek tabanlı şık sneaker.', 115, N'beyaz-ayakkabi-on.jpg,beyaz-ayakkabi-ikili.jpg,beyaz-ayakkani-ikili.jpg', CAST(N'2026-04-24T10:36:31.530' AS DateTime), N'Beyaz', N'Suni Deri', N'Her Mevsim', 6)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [KategoriID], [Fiyat], [Aciklama], [StokAdedi], [ResimYolu], [EklenmeTarihi], [Renk], [KumasTipi], [Mevsim], [MarkaId]) VALUES (2, N'Bilekten Bağlamalı Kahve Deri Ayakkabı', N'4,16', CAST(1950.00 AS Decimal(10, 2)), N'Zarif tasarımlı bilekten bağlamalı ayakkabı.', 103, N'bilekten-ayakkabi-kahve-on.jpg,bilekten-ayakkabi-kahve-arka.jpg,bilekten-ayakkabi-kahve-ikili.jpg', CAST(N'2026-04-24T10:36:31.530' AS DateTime), N'Kahverengi', N'Deri', N'Her Mevsim', 3)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [KategoriID], [Fiyat], [Aciklama], [StokAdedi], [ResimYolu], [EklenmeTarihi], [Renk], [KumasTipi], [Mevsim], [MarkaId]) VALUES (3, N'V Yaka Kırmızı Spor Atlet', N'1,7', CAST(450.00 AS Decimal(10, 2)), N'Nefes alan kumaş spor atlet.', 111, N'atlet-kirmizi-on.jpg,atlet-kirmizi-arka.jpg', CAST(N'2026-04-24T10:36:31.530' AS DateTime), N'Kırmızı', N'Pamuk/Elastan', N'Yaz', 6)
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yorumlar] ON 

INSERT [dbo].[Yorumlar] ([YorumID], [KullaniciID], [UrunId], [YorumMetni], [Puan], [Tarih], [OnayDurumu]) VALUES (3, 2, 11, N'Kumaşı çok kaliteli, duruşu harika.', 5, CAST(N'2026-05-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Yorumlar] ([YorumID], [KullaniciID], [UrunId], [YorumMetni], [Puan], [Tarih], [OnayDurumu]) VALUES (4, 5, 11, N'Boyu biraz uzun geldi, kalıbı çok dar.', 3, CAST(N'2026-05-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Yorumlar] ([YorumID], [KullaniciID], [UrunId], [YorumMetni], [Puan], [Tarih], [OnayDurumu]) VALUES (5, 2, 12, N'Kumaşı çok kötü,beğenmedim.', 2, CAST(N'2026-05-12T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Yorumlar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__A9D1053409E0D609]    Script Date: 16.05.2026 15:46:30 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dolap] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Favoriler] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Kombinler] ADD  DEFAULT (getdate()) FOR [OlusturulmaTarihi]
GO
ALTER TABLE [dbo].[Kombinler] ADD  DEFAULT ((0)) FOR [ToplamTutar]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Sepet] ADD  DEFAULT ((1)) FOR [Adet]
GO
ALTER TABLE [dbo].[Sepet] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ('Sipariş Alındı') FOR [Durum]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ('Kredi Kartı') FOR [OdemeTipi]
GO
ALTER TABLE [dbo].[UrunBedenStok] ADD  DEFAULT ((20)) FOR [StokAdedi]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [StokAdedi]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Yorumlar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Yorumlar] ADD  DEFAULT ((1)) FOR [OnayDurumu]
GO
ALTER TABLE [dbo].[Dolap]  WITH CHECK ADD  CONSTRAINT [FK_Dolap_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Dolap] CHECK CONSTRAINT [FK_Dolap_Kullanici]
GO
ALTER TABLE [dbo].[Favoriler]  WITH CHECK ADD  CONSTRAINT [FK_Favori_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Favoriler] CHECK CONSTRAINT [FK_Favori_Kullanici]
GO
ALTER TABLE [dbo].[Favoriler]  WITH CHECK ADD  CONSTRAINT [FK_Favori_Urun] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Favoriler] CHECK CONSTRAINT [FK_Favori_Urun]
GO
ALTER TABLE [dbo].[KombinDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_KombinDetay_Ana] FOREIGN KEY([KombinId])
REFERENCES [dbo].[Kombinler] ([KombinId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KombinDetaylari] CHECK CONSTRAINT [FK_KombinDetay_Ana]
GO
ALTER TABLE [dbo].[KombinDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_KombinDetay_Dolap] FOREIGN KEY([DolapId])
REFERENCES [dbo].[Dolap] ([DolapId])
GO
ALTER TABLE [dbo].[KombinDetaylari] CHECK CONSTRAINT [FK_KombinDetay_Dolap]
GO
ALTER TABLE [dbo].[KombinDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_KombinDetay_Urun] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[KombinDetaylari] CHECK CONSTRAINT [FK_KombinDetay_Urun]
GO
ALTER TABLE [dbo].[Kombinler]  WITH CHECK ADD  CONSTRAINT [FK_Kombin_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Kombinler] CHECK CONSTRAINT [FK_Kombin_Kullanici]
GO
ALTER TABLE [dbo].[Sepet]  WITH CHECK ADD FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Sepet]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SiparisBeden] FOREIGN KEY([BedenId])
REFERENCES [dbo].[Bedenler] ([BedenId])
GO
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [FK_SiparisBeden]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([KargoID])
REFERENCES [dbo].[KargoFirmalari] ([KargoID])
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[UrunBedenStok]  WITH CHECK ADD FOREIGN KEY([BedenId])
REFERENCES [dbo].[Bedenler] ([BedenId])
GO
ALTER TABLE [dbo].[UrunBedenStok]  WITH CHECK ADD FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Markalar] FOREIGN KEY([MarkaId])
REFERENCES [dbo].[Markalar] ([MarkaID])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Markalar]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[KombinDetaylari]  WITH CHECK ADD  CONSTRAINT [CHK_Kombin_Parca_Turu] CHECK  (([UrunId] IS NOT NULL AND [DolapId] IS NULL OR [UrunId] IS NULL AND [DolapId] IS NOT NULL))
GO
ALTER TABLE [dbo].[KombinDetaylari] CHECK CONSTRAINT [CHK_Kombin_Parca_Turu]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD CHECK  (([Rol]='Firma' OR [Rol]='Admin' OR [Rol]='Uye'))
GO
ALTER TABLE [dbo].[UrunBedenStok]  WITH CHECK ADD  CONSTRAINT [CHK_StokEksiyeDusmez_Alt] CHECK  (([StokAdedi]>=(0)))
GO
ALTER TABLE [dbo].[UrunBedenStok] CHECK CONSTRAINT [CHK_StokEksiyeDusmez_Alt]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [CHK_StokEksiyeDusmez_Genel] CHECK  (([StokAdedi]>=(0)))
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [CHK_StokEksiyeDusmez_Genel]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD CHECK  (([Puan]>=(1) AND [Puan]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminIstatistik]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AdminIstatistik]
AS
BEGIN
    SELECT 
        (SELECT COUNT(*) FROM Urunler) as AktifKitapSayisi,
        (SELECT COUNT(*) FROM Kullanicilar WHERE Rol='Uye') as UyeSayisi,
        (SELECT COUNT(*) FROM Siparisler) as ToplamSiparis,
        (SELECT COUNT(*) FROM Yorumlar) as YeniYorumlar
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SepeteEkle]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SepeteEkle]
    @KullaniciID INT, 
    @UrunID INT, 
    @Adet INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Sepet WHERE KullaniciID = @KullaniciID AND UrunId = @UrunID)
    BEGIN
        UPDATE Sepet SET Adet = Adet + @Adet 
        WHERE KullaniciID = @KullaniciID AND UrunId = @UrunID;
    END
    ELSE
    BEGIN
        INSERT INTO Sepet (KullaniciID, UrunId, Adet) 
        VALUES (@KullaniciID, @UrunID, @Adet);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SiparisOlustur]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SiparisOlustur]
    @KullaniciID INT,
    @Adres NVARCHAR(MAX),
    @Telefon NVARCHAR(20),
    @KargoID INT,
    @OdemeTipi NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @ToplamTutar DECIMAL(10,2);
        SELECT @ToplamTutar = SUM(S.Adet * U.Fiyat) FROM Sepet S
        INNER JOIN Urunler U ON S.UrunId = U.UrunId WHERE S.KullaniciID = @KullaniciID;

        INSERT INTO Siparisler (KullaniciId, Tarih, ToplamTutar, Durum, KargoId, TeslimatAdresi, OdemeTipi)
        VALUES (@KullaniciID, GETDATE(), @ToplamTutar, 'Sipariş Alındı', @KargoID, @Adres, @OdemeTipi);

        DECLARE @YeniSiparisID INT = SCOPE_IDENTITY();

        INSERT INTO SiparisDetaylari (SiparisId, UrunId, Adet, BirimFiyat)
        SELECT @YeniSiparisID, S.UrunId, S.Adet, U.Fiyat FROM Sepet S
        INNER JOIN Urunler U ON S.UrunId = U.UrunId WHERE S.KullaniciID = @KullaniciID;

        UPDATE U SET U.StokAdedi = U.StokAdedi - S.Adet FROM Urunler U
        INNER JOIN Sepet S ON U.UrunId = S.UrunId WHERE S.KullaniciID = @KullaniciID;

        DELETE FROM Sepet WHERE KullaniciID = @KullaniciID;

        COMMIT;
        SELECT 1 AS Sonuc, 'Sipariş Başarıyla Alındı.' AS Mesaj;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        SELECT 0 AS Sonuc, ERROR_MESSAGE() AS Mesaj;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UrunAra]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UrunAra]
    @Kelime NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.*, 
        m.MarkaAdi, 
        k.KategoriAdi
    FROM Urunler u
    LEFT JOIN Markalar m ON u.MarkaId = m.MarkaId
    LEFT JOIN Kategoriler k ON u.KategoriId = k.KategoriId
    WHERE 
        u.UrunAdi LIKE '%' + @Kelime + '%' OR
        u.Aciklama LIKE '%' + @Kelime + '%' OR
        u.Renk LIKE '%' + @Kelime + '%' OR
        u.KumasTipi LIKE '%' + @Kelime + '%'
    ORDER BY u.UrunId DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UrunFiltrele]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UrunFiltrele]
    @KategoriId NVARCHAR(50) = NULL,
    @MarkaId INT = NULL,
    @Mevsim NVARCHAR(50) = NULL,
    @MinFiyat DECIMAL(18,2) = 0,
    @MaxFiyat DECIMAL(18,2) = 999999
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.*, 
        m.MarkaAdi, 
        k.KategoriAdi
    FROM Urunler u
    LEFT JOIN Markalar m ON u.MarkaId = m.MarkaId
    LEFT JOIN Kategoriler k ON u.KategoriId = k.KategoriId
    WHERE 
        (@KategoriId IS NULL OR u.KategoriId LIKE '%' + @KategoriId + '%') AND
        (@MarkaId IS NULL OR u.MarkaId = @MarkaId) AND
        (@Mevsim IS NULL OR u.Mevsim = @Mevsim) AND
        (u.Fiyat BETWEEN @MinFiyat AND @MaxFiyat)
    ORDER BY u.Fiyat ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UyeKayit]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UyeKayit]
    @Ad NVARCHAR(50), @Soyad NVARCHAR(50), @Email NVARCHAR(100), @Sifre NVARCHAR(50), @Telefon NVARCHAR(20), @Adres NVARCHAR(MAX)
AS
BEGIN
    IF EXISTS (SELECT * FROM Kullanicilar WHERE Email = @Email)
    BEGIN
        RAISERROR('Bu E-posta adresi ile zaten bir kayıt mevcut!', 16, 1);
        RETURN;
    END
    INSERT INTO Kullanicilar (Ad, Soyad, Email, Sifre, Telefon, Adres, Rol, KayitTarihi)
    VALUES (@Ad, @Soyad, @Email, @Sifre, @Telefon, @Adres, 'Uye', GETDATE())
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_YorumEkle]    Script Date: 16.05.2026 15:46:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_YorumEkle]
    @KullaniciID INT,
    @UrunID INT,
    @YorumMetni NVARCHAR(MAX),
    @Puan INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM Siparisler s
        JOIN SiparisDetaylari sd ON s.SiparisID = sd.SiparisID
        WHERE s.KullaniciId = @KullaniciID 
          AND sd.UrunId = @UrunID 
          AND s.Durum = 'Teslim Edildi' 
    )
    BEGIN

        INSERT INTO Yorumlar (KullaniciID, UrunId, YorumMetni, Puan, Tarih, OnayDurumu)
        VALUES (@KullaniciID, @UrunID, @YorumMetni, @Puan, GETDATE(), 0);

        SELECT 1 AS Sonuc, 'Yorumunuz başarıyla alındı, admin onayından sonra yayınlanacaktır.' AS Mesaj;
    END
    ELSE
    BEGIN

        RAISERROR('Bu ürünü yorumlayabilmek için satın almış ve teslim almış olmanız gerekmektedir.', 16, 1);
    END
END
GO
USE [master]
GO
